<header id="header" class="fixed-top ">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xl-9 d-flex align-items-center justify-content-between">
        <h1 class="logo"><a routerLink="/">BENNU TEST</a></h1>
        
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a routerLink="/">Accueil</a></li>

          </ul>
        </nav><!-- .nav-menu -->

        <a routerLink="/" class="get-started-btn scrollto">Shipment History Timeline</a>
      </div>
    </div>

  </div>
</header><!-- End Header -->
<main id="main row">
    <div class="d-flex justify-content-center mt-70 mb-70">
      <div class="col-md-8">
          <div class="main-card mb-3 card">
              <div class="card-body">
                  <h5 class="card-title style-c justify-content-center">Shipment History</h5>

                  <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column" *ngFor="let history of shipmentHistories; first as isFirst; last as isLast">
                      <div class="vertical-timeline-item vertical-timeline-element">
                          <div> <span class="vertical-timeline-element-icon bounce-in"><span [ngClass]="{'badge': true,
                            'badge-warning style-e': history.shipmentIsDelayed ,
                            'badge-primary style-f': !history.shipmentIsDelayed }"><i [ngClass]="{'text-white fa ': true,
                            'fa-circle ':(!isFirst && !isLast),
                            'fa-map-marker': isLast,
                            'fa-check-circle': isFirst}"> 

                            </i></span></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <span><p class="timeline-title"><span class=" style-b">{{history.eventPosition?.status | lowercase}}</span><span class="state style-a" style="font-size: 14px !important;">{{history.eventPosition?.city |lowercase}}, {{history.eventPosition?.state}}</span></p> </span>
                                  <p class="style-a">{{history.eventPosition?.comments == 'null'? '' : history.eventPosition?.comments}}</p> <span class="vertical-timeline-element-date"><span class="date-month style-d" *ngIf="history.displayMonth">{{history.eventDateTime | date: 'MMMM'}} {{history.eventDateTime | date: 'd'}}{{history.order}}</span>&nbsp; &nbsp;<span class="date-hour style-a">{{history.eventDateTime | date: 'shortTime' | lowercase}} </span></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
